spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true

  profiles:
    active: local

server:
  error:
    include-stacktrace: ON_PARAM